[Desktop Entry]
Categories=Audio;AudioVideo;Qt;
Comment=MIDI monitor and prober.
Keywords=midi;monitor;jackd;alsa;
Exec=${binDir}/midisnoop
GenericName=Midisnoop
GenericName[en_US]=Midisnoop
Hidden=false
Icon=midisnoop
Name=Midisnoop
Terminal=false
Type=Application
